page-login {
    
    $logo-width: 100%;
    $primary-color: #df3732;
    
    .container {
        
    }
    .logoimage {
        display: block;
        margin: 0 auto;
    }
    
    .appname {
        text-align: center;
        color: #df3732;
        font-size: 50px;
    }
    
}
